.all {
    display: flex;
    gap: 10px;
}
.deladd
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.floating-btn {
    position: fixed;
    bottom: 690px;
    right: 50px;
}

.modal {
    max-width: 600px;
    max-height: 300px;
    margin: 100px auto;
    overflow-y: auto;
    background: #fff;
}

.modal > h1 {
    text-align: center;
}

.modal .modal-content {
    padding: 1rem;
}

.error{
    color: darkred;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: 250px;
    height: 100px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.add {
    cursor: pointer;
}
.form input {
    display: block;
}